aiofiles==24.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
async-timeout==5.0.1
attrs==24.3.0
blinker==1.9.0
build==1.2.2.post1
CacheControl==0.14.1
certifi==2024.8.30
charset-normalizer==3.4.0
cleo==2.1.0
colorama==0.4.6
crashtest==0.4.1
distlib==0.3.9
dulwich==0.21.7
fastjsonschema==2.20.0
filelock==3.16.1
frozenlist==1.5.0
greenlet==3.1.1
idna==3.10
installer==0.7.0
jaraco.classes==3.4.0
keyring==24.3.1
mock==5.1.0
more-itertools==10.5.0
msgpack==1.1.0
multidict==6.1.0
mutagen==1.47.0
natsort==8.4.0
nodeenv==1.9.1
packaging==24.2
pexpect==4.9.0
pillow==11.0.0
pkginfo==1.11.2
platformdirs==4.3.6
poetry==1.8.4
poetry-core==1.9.1
poetry-plugin-export==1.8.0
propcache==0.2.1
ptyprocess==0.7.0
pynvim==0.5.1
pyproject_hooks==1.2.0
pyright==1.1.388
PySocks==1.7.1
pywin32-ctypes==0.2.3
pyxdg==0.28
RapidFuzz==3.10.1
requests==2.32.3
requests-toolbelt==1.0.0
shellingham==1.5.4
stig==0.12.11a0
StrEnum==0.4.15
tomlkit==0.13.2
trove-classifiers==2024.10.21.16
typing_extensions==4.12.2
urllib3==2.2.3
urwid==2.6.16
urwidtrees==1.0.3
virtualenv==20.27.1
wcwidth==0.2.13
yandex-music @ https://github.com/llistochek/yandex-music-api/archive/9623fbca7704f47766614efe51d66c9fd496714c.zip#sha256=44c897892a8a6463246b5dc18c340ddb0f25a312b12b1727820de8387235c857
yandex-music-downloader @ https://github.com/llistochek/yandex-music-downloader/archive/main.zip#sha256=d1ad13f23e012652a236cd422d2933cec76bc14be781a23dc9fd6f926399e710
yarl==1.18.3
