<div class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Занятий осталось</p>
      <p class="title">
        {{remainders.lessons}}
      </p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Предстоящих вебинаров</p>
      <p class="title">{{remainders.webinars}}</p>
    </div>
  </div>
</div>
<div class="container">
  <table class="table is-fullwidth is-hoverable">
    <thead>
      <th>Пакет</th>
      <th>Занятия</th>
    </thead>
    {% for course in my_courses %}
    <tr>
      <td>{{course.name.0}}</td>
      <td>{{course.lessons_left}}/{{course.lessons_total.0}}</td>
    </tr>
    {% endfor %}
  </table>
</div>
