{% extends 'base.html' %}

{% block body %}
  <div class="fixed-grid has-6-cols">
    <div class="grid">
      <div class="cell is-row-span-2 is-col-span-3 box">
        <div class="skeleton-block" hx-get="/widget/profile" hx-trigger="load" hx-swap="outerHTML"></div>
      </div>
      <div class="cell is-row-span-2 is-col-span-3 box">
        <p class="title is-3">
          Предстоящие занятия
        </p>
        <div class="skeleton-block" hx-get="/widget/upcoming_lessons" hx-trigger="load" hx-swap="outerHTML"></div>
      </div>
      <div class="cell box is-col-span-4">
        <div class="level">
          <div class="level-left">
            <p class="title is-5 has-text-primary">Мои курсы</p>
          </div>
          <div class="level-right">
            <a class="button is-primary is-dark" href="{% url 'courses' %}">Каталог курсов</a>
          </div>
        </div>
        <div class="skeleton-block" hx-get="/widget/my_courses" hx-trigger="load" hx-swap="outerHTML"></div>
      </div>
      <div class="cell box is-col-span-2 ">
        <div class="level">
          <div class="level-left">
            <p class="title is-5 has-text-info">Пополнения</p>
          </div>
          <div class="level-right">
            <a class="button is-info is-dark">Пополнить счет</a>
          </div>
        </div>
        <div class="skeleton-block" hx-get="/widget/top_ups" hx-trigger="load" hx-swap="outerHTML"></div>
      </div>
      <div class="cell box is-row-span-2 is-col-span-3">
        <div class="level">
          <div class="level-left">
            <p class="title is-5">Домашние задания</p>
          </div>
          <div class="level-right">
            <a class="button is-dark" href="{% url 'assignments' %}">Перейти к заданиям</a>
          </div>
        </div>
        <div class="container">
          {% for homework in homeworks %}
            <div class="level">
              <div class="level-left has-text-primary">
                {{homework.name}} ({{homework.subject.0}})
                {% if homework.is_submitted %}
                  {% if homework.is_reviewed %}
                    <span class="tag is-success "> Оценено </span>
                  {% else %}
                    <span class="tag is-warning "> Ожидает оценки </span>
                  {% endif %}
                {% else %}
                    <span class="tag is-danger "> Нужно выполнить </span>
                {% endif %}
              </div>
              <div class="level-right">
                сдать до {{homework.deadline|date:"d/m"}}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
