{% extends 'base.html' %}

{% block body %}
<div class='box centered-v'>
  <h1 class="title is-1">Войти в аккаут ученика</h1>
  <form method='post'>
    {% csrf_token %}
    {% for field in form %}
      <div class="field">
        <label for="{{ field.id_for_label }}" class="label">{{ field.label }}</label>
        <input type="{{ field.widget_type }}" name="{{ field.name }}" value="" class="input">
        {% for error in field.errors %}
          <p class="help is-danger">{{error}}</p>
        {%endfor%}
      </div>
    {% endfor %}
    {% for error in form.non_field_errors %}
        <p class="help is-danger">{{error}}</p>
    {% endfor %}
    <button class="button is-link" type="submit">Войти</button>
  </form>
</div>
{% endblock body %}
